# Imports

In [37]:
import pandas as pd
from IPython.display import display

# Environment Setup

In [38]:
TARASLIA_1_PATH = '../data/TARASLIA_1.xls'
TARASLIA_2_PATH = '../data/TARASLIA_2.xls'
TARASLIA_3_PATH = '../data/TARASLIA_3.xls'
TARASLIA_4_PATH = '../data/TARASLIA_4.xls'
TARASLIA_5_PATH = '../data/TARASLIA_5.xls'
TARASLIA_6_PATH = '../data/TARASLIA_6.xls'
TARASLIA_7_PATH = '../data/TARASLIA_7.xls'
TARASLIA_8_PATH = '../data/TARASLIA_8.xls'

file_paths = [
    TARASLIA_1_PATH, TARASLIA_2_PATH, TARASLIA_3_PATH, TARASLIA_4_PATH,
    TARASLIA_5_PATH, TARASLIA_6_PATH, TARASLIA_7_PATH, TARASLIA_8_PATH
]

# Explore

In [ ]:
for path in file_paths:
    # header=None prevents pandas from setting the first row as column headers
    df_info = pd.read_excel(path, nrows=1, header=None)
    
    # Extract the table title from the first cell
    table_title = df_info.iloc[0, 0]
    
    # Get the file name from the path
    file_name = path.split('/')[-1]
    
    print(f"{file_name}: {table_title}")

TARASLIA_1.xls: Accession Name
TARASLIA_2.xls: Accession Name
TARASLIA_3.xls: Accession Name
TARASLIA_4.xls: Accession Name
TARASLIA_5.xls: Accession Name
TARASLIA_6.xls: Accession Name
TARASLIA_7.xls: Accession Name
TARASLIA_8.xls: Accession Name

In [35]:
df_all = pd.read_excel(TARASLIA_1_PATH, header=1) # all brain regions
df_ob = pd.read_excel(TARASLIA_2_PATH, header=1) # olfactory bulb
df_hc = pd.read_excel(TARASLIA_3_PATH, header=1) # hippocampus
df_mb = pd.read_excel(TARASLIA_4_PATH, header=1) # midbrain
df_md = pd.read_excel(TARASLIA_5_PATH, header=1) # medulla
df_cb = pd.read_excel(TARASLIA_6_PATH, header=1) # cerebellum
df_ht = pd.read_excel(TARASLIA_7_PATH, header=1) # hypothalamus
df_cc = pd.read_excel(TARASLIA_8_PATH, header=1) # cerebral cortex

In [36]:
taraslia_dfs_dict = {
    "All Brain Regions (Table I)": df_all,
    "Olfactory Bulb (Table II)": df_ob,
    "Hippocampus (Table III)": df_hc,
    "Midbrain (Table IV)": df_mb,
    "Medulla (Table V)": df_md,
    "Cerebellum (Table VI)": df_cb,
    "Hypothalamus (Table VII)": df_ht,
    "Cerebral Cortex (Table VIII)": df_cc
}

for title, df in taraslia_dfs_dict.items():
    print(f"\n{'='*20} {title} {'='*20}")
    # Show only first 3 rows for a quick look
    display(df.head(3))

==================== All Brain Regions (Table I) ====================

,Accession Name,Protein name,Protein MW,pI-Value,Brain part,Subcellular localisation,Function
0,1433B_MOUSE,14-3-3 protein beta/alpha,28183,4.62,"OB, HT, MD",Cytoplasm,"Transcription rergulation, cytoplasmic sequestering of protein"
1,1433E_MOUSE,14-3-3 protein epsilon,29326,4.50,"OB, MB, HT, HC, CB, MD",Cytoplasm,"Cerebral cortex development, hippocampus development, neuron migration"
2,1433F_MOUSE,14-3-3 protein eta,28365,4.66,OB,Cytoplasm,"Glucocorticoid catabolism, glucocorticoid receptor signaling pathway, apoptosis, mitosis, dendrite morphogenesis"

==================== Olfactory Bulb (Table II) ====================

,Accession Name,Protein name,Mascot Score,Coverage (%),Protein MW (Da),pI-Value
0,1433F_MOUSE,14-3-3 protein eta,64,40,28365,4.66
1,3HIDH_MOUSE,"3-hydroxyisobutyrate dehydrogenase, mitochondrial",112,40,35816,9.30
2,ACTBL_MOUSE,Beta-actin-like protein 2,58,22,42319,5.19

==================== Hippocampus (Table III) ====================

,Accession Name,Protein name,Mascot Score,Coverage (%),Protein MW (Da),pI-Value
0,AHSA1_MOUSE,Activator of 90 kDa heat shock protein ATPase homolog 1,117,47,38321,5.3
1,AIP_MOUSE,AH receptor-interacting protein,65,25,38037,6.0
2,AMRP_MOUSE,Alpha-2-macroglobulin receptor-associated protein,135,38,42189,7.9

==================== Midbrain (Table IV) ====================

,Accession Name,Protein name,Mascot Score,Coverage (%),Protein MW (Da),pI-Value
0,6PGL_MOUSE,6-phosphogluconolactonase,69,43,27465,5.5
1,AT1A3_MOUSE,Sodium/potassium-transporting ATPase subunit alpha-3,76,13,113045,5.1
2,CX4NB_MOUSE,Neighbor of COX4,56,30,23790,5.7

==================== Medulla (Table V) ====================

,Accession Name,Protein name,Mascot Score,Coverage (%),Protein MW (Da),pI-Value
0,AATM_MOUSE,"Aspartate aminotransferase, mitochondrial",96,26,47780,9.80
1,CNN1_MOUSE,Calponin-1,55,33,33506,9.60
2,DDX3L_MOUSE,Putative ATP-dependent RNA helicase Pl10,81,25,73494,6.82

==================== Cerebellum (Table VI) ====================

,Accession Name,Protein name,Mascot Score,Coverage (%),Protein MW (Da),pI-Value
0,4EBP2_MOUSE,Eukaryotic translation initiation factor 4E-binding protein,55,80,13004,6.10
1,CB070_MOUSE,UPF0573 protein C2orf70 homolog,57,43,23113,10.06
2,CYC_MOUSE,"Cytochrome c, somatic",55,39,11712,10.19

==================== Hypothalamus (Table VII) ====================

,Accession Name,Protein name,Mascot Score,Coverage (%),Protein MW (Da),pI-Value
0,FBX16_MOUSE,F-box only protein 16,55,35,39362,10.64
1,K1C15_MOUSE,"Keratin, type I cytoskeletal 15",56,25,49278,4.60
2,LAP2B_MOUSE,"Lamina-associated polypeptide 2, isoforms beta/delta/epsilon",60,27,50378,9.90

==================== Cerebral Cortex (Table VIII) ====================

,Accession Name,Protein name,Mascot Score,Coverage (%),Protein MW (Da),pI-Value
0,ABD12_MOUSE,Monoacylglycerol lipase ABHD12,87,32,45640,9.60
1,AL9A1_MOUSE,4-trimethylaminobutyraldehyde dehydrogenase,82,31,54449,6.77
2,ARK72_MOUSE,Aflatoxin B1 aldehyde reductase member 2,124,48,41028,9.30